DATABASE_URL="database-url"
JWT_SECRET="replace-with-your-own-random-secret"
RESEND_API_KEY=re_your_api_key_here
JWT_REFRESH_SECRET=your-refresh-secret-key,
PORT='insert-port-number-here'
NODE_ENV=your-environment-here